/*Your styles*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 1fr;
}

body{
  padding: 15px;
  color: white;
  display: flex;
  flex-direction: column;
}

#root{
  display: grid;
}

input[type]{
  opacity: 1;
  position: static;
  margin: 0;
}

/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
/* .hostFontColor{}
.hostFontFamily{}
.hostFontSize{} */

/*font family, color and size*/
/* .hostFont{} */
/*background color*/
/* .hostBgd{} */
/*lighter background color*/
/* .hostBgdLight{} */
/*darker background color*/
/* .hostBgdDark{} */
/*background color and font*/
/* .hostElt{} */


.hostButton{
  border: 1px solid;
  border-radius: 2px;
  height: 20px;
  vertical-align: bottom;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}